{% extends "../global.html" %}
{% block htmlhead %}
<script type="text/javascript" src="{{ static_url("scripts/plugins/arrow.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/building/room.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/building/office.js") }}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url("styles/path.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url("styles/buildings.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url("styles/room.css") }}" />
<script>
$(function() {
	$( "#inputBirthday" ).datepicker({dateFormat:"yy-mm-dd"});
});
</script>
{% end %}
{%block content %}

<div id="maps">
	<div id="map" class="map">
		<div id="shadow" class="shadow"></div>
		<div id="office" class="room-bg">
			<a href="#/map" id="quit" class="quit" title="离开" alt="离开"></a>
			<div class="leave hide" id="leave">
				出门<a href="#/office" id="btn-leave" title="出门" alt="出门"></a>
			</div>
		</div>
		
		<div id="buildings-div">
		
			<div id="buildings-2" class="buildings building-with-border" title="学生处">
				<div class="room" >
					<div class="room-title">
						<h3>学生处</h3>
					</div>
					<div class="room-wall">
						<div class="room-board">
							深大觅友社区学生处成立于2012年8月24日0点51分。<br />
							负责社区成员学籍资料管理。
						</div>
						<div class="room-door">
							<a href="#btn-student" id="btn-student" class="btn-house"></a>
						</div>
					</div>
				</div>
			</div>
			
			<div id="buildings-4" class="buildings building-with-border" title="站长办公室">
				<div class="room" >
					<div class="room-title">
						<h3>站长办公室</h3>
					</div>
					<div class="room-wall">
						<div class="room-board">
							深大觅友社区站长办公室成立于2012年8月24日1点39分。<br />
							负责社区各大小事务。
						</div>
						<div class="room-door">
							<a href="#btn-sitemaster" id="btn-sitemaster" class="btn-house"></a>
						</div>
					</div>
				</div>
			</div>
			
		</div>		
		
				
		<div id="roomsite" class="room-hide">
		
			<div id="room-sitemaster" class="room-hide">
				<div class="roomsite-title">
					站长办公室
				</div>
				<div class="roomsite-content">
					<div class="roomsite-block">
						<div class="roomsite-block-nav">
							<ul>
								<a href="#id:1" class="roomsite-btn"><li>站长办公室介绍</li></a>
								<a href="#id:2" class="roomsite-btn"><li>办公室公告</li></a>
								<a href="#id:3" class="roomsite-btn"><li>关于我们</li></a>
								<a href="#id:4" class="roomsite-btn"><li>联系我们</li></a>
							</ul>
						</div>
						<div class="roomsite-block-container">
							<div class="roomsite-block-content-1 roomsite-block-content">
							<h4>站长办公室介绍</h4>
							<p>深大觅友社区站长办公室成立于2012年8月24日1点39分。<br /></p>
							<p>社区办公室主要负责维持社区秩序，发布社区的公告，处理社区的各项事务。</p>
							</div>
							<div class="roomsite-block-content-2 roomsite-block-content">
							<h4>办公室公告</h4>
							<p>站长出游了，您可能有一段时间找不到他了~</p>							
							</div>
							<div class="roomsite-block-content-3 roomsite-block-content">
							<h4>关于我们</h4>
							<p>有木有想过如果深大是一个社区会有什么后果？我也木有想过，所以一起来试试吧。。。</p>
							</div>
							<div class="roomsite-block-content-4 roomsite-block-content">
								<h4>联系我们</h3>
								<p>如果您对<font color="#377976" class="attr">深大觅友社区</font>有任何问题、建议、合作，欢迎联系我们。</p>
								<p>Email：szumeetu@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="room-student" class="room-hide">
				<div class="roomsite-title">
					学生处
				</div>
				<div class="roomsite-content">
					<div class="roomsite-block">
						<div class="roomsite-block-nav">
							<ul>
								<a href="#id:1" class="roomsite-btn"><li>学生处介绍</li></a>
								<a href="#id:2" class="roomsite-btn"><li>注册学籍</li></a>
								<a href="#id:3" class="roomsite-btn"><li>注销学籍</li></a>
							</ul>
						</div>
						<div class="roomsite-block-container">
							<div class="roomsite-block-content-1 roomsite-block-content">	
								<h4>觅友社区学生处：</h3>
								<p>深大觅友社区学生处成立于2012年8月24日0点51分。</p>
								<p>负责学籍管理。</p>
								
							</div>
							<div class="roomsite-block-content-2 roomsite-block-content">
								<h4>注册学籍</h3>
								{% if not user %}
								咦~好像没有见过你哦~请你先登录~
								{% else %}
								{% if user.state < 3 %}
								<form id="identity-form" class="form-horizontal">
								{{ xsrf_form_html() }}
											<div class="control-group">
												<label class="control-label" for="inputTruename">真实姓名</label>
												<div class="controls">
													<input type="text" id="inputTruename" placeholder="真实姓名" value="{% if user.truename %}{{ user.truename }}{% end %}" required name="truename">
													<span class="help-inline">* 您的真实姓名</span>
												</div>
											</div>
											
											<div class="control-group">
												<label class="control-label" for="inputBirthday">生日</label>
												<div class="controls">
													<input type="text" id="inputBirthday" placeholder="生日" value="{% if user.birthday %}{{ user.birthday.strftime('%Y-%m-%d') }}{%else%}1992-1-1{% end %}" name="birthday">
													<span class="help-inline">* 您的生日</span>
												</div>
											</div>
											
											<div class="control-group">
												<label class="control-label" for="inputNumber">学号</label>
												<div class="controls">
													<input type="text" id="inputNumber" placeholder="学号" value="{% if user.number %}{{ user.number }}{%end%}" required name="number">
													<span class="help-inline">*您的深大学号</span>
													<span class="help-block">觅友社区通过您的真实姓名与学号获得您的课表，<br />寻找与您有缘的同学，请务必真实填写</span>
												</div>
											</div>
										
											
											<div class="control-group">
												<label class="control-label" for="inputCollege">学院</label>
												<div class="controls">
													  <select name="college" >
														<option value="1" {% if user.college == 1 %}selected{%end%}>师范学院</option>
														<option value="2" {% if user.college == 2 %}selected{%end%}>文学院</option>
														<option value="3" {% if user.college == 3 %}selected{%end%}>外国语学院</option>
														<option value="4" {% if user.college == 4 %}selected{%end%}>传播学院</option>
														<option value="5" {% if user.college == 5 %}selected{%end%}>经济学院</option>
														<option value="6" {% if user.college == 6 %}selected{%end%}>管理学院</option>
														<option value="7" {% if user.college == 7 %}selected{%end%}>法学院</option>
														<option value="8" {% if user.college == 8 %}selected{%end%}>艺术设计学院</option>
														<option value="9" {% if user.college == 9 %}selected{%end%}>材料学院</option>
														<option value="10" {% if user.college == 10 %}selected{%end%}>物理科学与技术学院</option>
														<option value="11" {% if user.college == 11 %}selected{%end%}>化学与化工学院</option>
														<option value="12" {% if user.college == 12 %}selected{%end%}>数学与计算科学学院</option>
														<option value="13" {% if user.college == 13 %}selected{%end%}>信息工程学院</option>
														<option value="14" {% if user.college == 14 %}selected{%end%}>计算机与软件学院</option>
														<option value="15" {% if user.college == 15 %}selected{%end%}>建筑与城市规划学院</option>
														<option value="16" {% if user.college == 16 %}selected{%end%}>土木工程学院</option>
														<option value="17" {% if user.college == 17 %}selected{%end%}>机电与控制工程学院</option>
														<option value="18" {% if user.college == 18 %}selected{%end%}>电子科学与技术学院</option>
														<option value="19" {% if user.college == 19 %}selected{%end%}>生命科学学院</option>
														<option value="20" {% if user.college == 20 %}selected{%end%}>高尔夫学院</option>
														<option value="21" {% if user.college == 21 %}selected{%end%}>光电工程学院</option>
														<option value="22" {% if user.college == 22 %}selected{%end%}>医学院</option>
														<option value="23" {% if user.college == 23 %}selected{%end%}>成人教育学院</option>
														<option value="24" {% if user.college == 24 %}selected{%end%}>国际交流学院</option>
													</select>
													<span class="help-inline">*您的学院</span>
												</div>
											</div>

											<div class="control-group">
												<label class="control-label" for="inputQQ">QQ</label>
												<div class="controls">
													<input type="text" id="inputQQ" placeholder="QQ" value="{% if user.qq %}{{ user.qq }}{% end %}" name="qq">
													<span class="help-inline">您的QQ号码</span>
												</div>
											</div>
											<div class="control-group">
												<div class="controls">
													<input type="submit" class="btn btn-primary" value="注册学籍" />
												</div>
											</div>
									
								</form>
								{% else %}
									<p>您已完成学籍注册，现已是觅友社区正式成员。</p>
								{% end %}
								{% end %}
							</div>
							<div class="roomsite-block-content-3 roomsite-block-content">
							<h4>注销学籍：</h3>
							<p>目前不受理注销学籍的请求，敬请原谅。</p>
						    </div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
		

		
	</div>
</div>
{% end %}
{% block right %} {%end%}