{% extends "../global.html" %}
{% block htmlhead %}
<link rel="stylesheet" type="text/css" href="{{ static_url("styles/user/friends.css") }}" />
<script type="text/javascript" src="{{ static_url("") }}"></script>

<!--[if !gt IE 9]>
<style>
	#main{
		background:#fff;
	}
</style>
<![endif]-->
{% end %}
{% block content %}
<div id="main">
    {% for fri in myfriends %}
	<div class="friend-box">
        <img src="/static/upfiles/avatar/{{fri.avatar}}.png" />
    </div>
    {% end %}
</div>
{% end %}

{% block right %}{% end %}