{% extends "../../global.html" %}
{% block htmlhead %}
<script type="text/javascript" src="{{ static_url("scripts/plugins/arrow.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/building/room.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/building/shop.js") }}"></script>
<script type="text/javascript" src="{{ static_url("scripts/plugins/editor/kindeditor.js") }}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url("styles/path.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url("styles/buildings.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url("styles/room.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ static_url("styles/shop.css") }}" />
<style>
.roomsite-block-content{
	text-indent:0em;
}
</style>
<script>
$(function(){
	$(".roomsite-block-content-0").show();


{% if user['id'] == shop['ownerid'] %}
$('#edit-shop-form').submit(function(){
	$.ajax({
		url: '/shop/edit',
		type: 'post',
		dataType: 'json',
		data: $(this).serialize(),
		success: function(response) {
			if(response.success){
				$S.notice('修改成功~',1500);
				setTimeout(function(){location.reload();},2000);
			}
			else{
				$S.alert(response.messages.join(','),2000);
			}
		},
		error: function() {
			$S.error('程序发生错误，请联系管理员！');
		}
	});
	return false;
});
{% end %}
});
KE.show({
	id : 'content',
	resizeMode : 1,
	allowPreviewEmoticons : false,
	allowUpload : false,
	items : [
	'fontname', 'fontsize', '|', 'textcolor', 'bgcolor', 'bold', 'italic', 'underline',
	'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
	'insertunorderedlist', '|', 'emoticons', 'image', 'link']
});
</script>
{% end %}
{%block content %}
<form id="shop-private-del-article">
	{{ xsrf_form_html() }}
	<input type="hidden" value="{{shop['id']}}" id="del-shop-id" name="shopid" />
	<input type="hidden" value="" id="del-article-id" name="articleid" />
</form>
<div id="maps">
	<div id="map" class="map">
		<div id="shadow" class="shadow"></div>
		<div id="office" class="room-bg">
			<div class="leave" id="quit">
				出门<a href="#/office" id="btn-leave" title="出门" alt="出门"></a>
			</div>
		</div>
				
		<div id="roomsite">
		
			<div id="room-sitemaster">
				<div class="roomsite-title">
					{{ shop.title }}
				</div>
				<div class="roomsite-content">
					<div class="roomsite-block">
						<div class="roomsite-block-nav">
							<ul>
								{% if user['id'] == shop['ownerid'] %}
								<a href="#id:0" class="roomsite-btn shop-private-nav"><li>店铺设置</li></a>
                                <a href="#id:00" class="roomsite-btn shop-private-nav"><li>发布文章</li></a>
                                {%else%}
                                <a href="#id:0" class="roomsite-btn shop-private-nav"><li>介绍</li></a>
								{%end%}
								{% if articles %}
								    {% for x in articles %}
								<a href="#id:{{x['id']}}" class="roomsite-btn"><li><script>document.write(StringSub('{{x['title']}}',20));</script></li></a>
								    {% end %}
								{% end %}
							</ul>
						</div>
						<div class="roomsite-block-container">
							{% if user['id'] == shop['ownerid'] %}
							<div class="roomsite-block-content-0 roomsite-block-content"> 

                                <form id="edit-shop-form" class="form-horizontal" method="post">
                                	<input type="hidden" value="{{ shop.id }}" name="shopid" />
							    	{{ xsrf_form_html() }}
    								<div class="control-group">
								        <label class="control-label" for="shopName">店铺名称</label>
									    <div class="controls">
										<input type="text" id="shopName" required placeholder="店铺名称" value="{{ shop['title'] }}" required name="shopName">
   										<span class="help-inline">* 您的店铺名称</span>
									    </div>
								    </div>
											
								    <div class="control-group">
    									<label class="control-label" >店铺类型</label>
									    <div class="controls">
    										{% if shop['special'] == 'shop/private' %}<code>个人店铺</code>{%end%}
    										{% if shop['special'] == 'shop/topic' %}<code>主题店铺</code>{%end%}
    										{% if shop['special'] == 'shop/sell' %}<code>商品店铺</code>{%end%}
									    </div>
								    </div>
											    
								    <div class="control-group">
    									<label class="control-label" for="descr">店铺介绍</label>
									    <div class="controls">
    										<textarea id="descr" rows="5" class="span3" required name="descr" placeholder="店铺介绍">{{shop['descr']}}</textarea>
										    <span class="help-inline">* 您的店铺的介绍</span>
									    </div>
								    </div>
    
								    <div class="control-group">
    									<div class="controls">
										    <input type="submit" class="btn btn-primary" value="修改" />
									    </div>
								    </div>
							    </form>

						    </div>
                            <div class="roomsite-block-content-00 roomsite-block-content">
							    <h4>发表文章</h4>
							    <p>
		    					    <form id="shop-private-send-article" class="inline-form">
		    					    	{{ xsrf_form_html() }}
		    					    	<input type="hidden" value="{{ shop['id'] }}" name="shopid" id="shopid" />
		    					    	<label>标题：</label> <input type="text" value="" maxlength="20" required class="span5" name="title" id="title" /><br />
		    					    	<label>内容：</label>
		    					    	<textarea id="content" name="content" style="width:600px;height:180px;visibility:hidden;"></textarea>
		    					    	<br />
		    					    	<input type="submit" value="发布" class="btn btn-primary" />
	    						    </form>
    							</p>
							</div>
						    {%else%}
						    <div class="roomsite-block-content-0 roomsite-block-content"> 
							    <p>{{ shop.descr }}</p>
							</div>
							{%end%}
					        {% if articles %}
							    {% for x in articles %}
							<div class="roomsite-block-content-{{x['id']}} roomsite-block-content">
								<div style="text-align:center;width:100%;"><h3>{{x['title']}}</h3></div>
								<div style="text-align:right;width:100%">{% if user['id'] == shop['ownerid'] %} <a href="#del-id:{{x['id']}}" class="del-article-btn">[删除]</a> {%end%}{{x['created']}}</div>
							    <p>{{x['content']}}</p>
							</div>
						        {% end %}
                            {% end %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% end %}
{% block right %} {%end%}