@CHARSET "UTF-8";

#full-screen-shadow{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #000;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
	-webkit-opacity: 0.8;
	opacity: 0.8;
	z-index: 3000;
}

#message-box {
	position: fixed;
	top: 0px;
	left: 50%;
	z-index: 9999;
	margin-left:-40%;
	width: 80%;
	padding:5px;
	filter:alpha(Opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
}
#message-box .message-content {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	box-shadow: 0 0 10px #999;
}
#message-box .message-content.msg-notice {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #B5E5EF url(../images/admin/icn_alert_info.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #77BACE;
	color: #082B33;
}
#message-box .message-content.msg-alert {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F5F3BA url(../images/admin/icn_alert_warning.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #C7A20D;
	color: #796616;
}
#message-box .message-content.msg-error {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #F3D9D9 url(../images/admin/icn_alert_error.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #D20009;
	color: #7B040F;
}
#message-box .message-content span.message-text {
	margin: 0 2em;
}
#message-box {
	overflow: hidden;
}
#message-box a.msg-button {
	color: inherit;
	font-size: 12px;
	float: right;
	display: inline-block;
	margin: 0 0.5em;
}


#msg-box{
    position:fixed;
    top:50%;
    left:50%;
    width:60%;
    margin-left:-30%;
    height:500px;
    margin-top:-250px;
    background: #fff;
    z-index: 6000;
    border-radius: 10px;
    padding:20px;

}

.box-cls{
	position:absolute;
	display: block;
	font-size: 20px;
	color:#fff;
	font-weight: bold;
	top:-15px;
    right:-15px;
    width: 30px;
    height: 30px;
    background: #0a0a0a;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    border: 3px solid #fff;
}
.box-cls:hover{
	color:#a0a0a0;
}

#msg-box-content{
	margin: 0 auto;
	height:350px;
	max-height:350px;
	overflow: auto;
	border-top:1px dashed #779396;
}

#ctrl-borad{
	margin-top:10px;
}

#send-msg-box{
	position:fixed;
    top:50%;
    left:50%;
    width:30%;
    margin-left:-15%;
    height:20%;
    margin-top:-10%;
    background: #fff;
    z-index: 6500;
    border-radius: 10px;
    padding:20px;
    border:3px solid #f0f0f0;
}
#send-msg-box textarea{
	width:98%;
	height:80%;
}

.list-check{
    text-align: center;
}
.list-check input{
    margin:0;
}

.text-center{
	text-align: center;
	width: 100%;
}

.text-left{
	text-align: left;
	width: 100%;
}

.text-right{
	text-align: right;
	width: 100%;
}

.box-btn{
	display: inline-block;
	width: 80px;
	height:30px;
	margin-left:20px;
	border-radius: 8px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	background: #fff;
	color: #3e7880;
}

.on-chosed{
	font-size:14px;
    background: #3e7880;
    color:#f4f4f4;
}
.on-chosed:hover{
	color:#fff !important;
}

.list-header{
	display: inline-block;
	font-size: 12px;
	color:#3e7880;
	overflow: hidden;
	margin-bottom:5px;
	margin-top: 5px;
}

.list-item{
	margin:0 auto;
	height:25px;
	width:98%;
}
