@CHARSET "UTF-8";
.quit{
	position:absolute;
	bottom:10px;
	left:50%;
	margin-top:-25px;
	display:block;
	background:url(/static/images/arrow_s.png);
	width:50px;
	height:50px;
}

.leave{
	position: absolute;
	left: -65px;
	top: 50%;
	margin-top: -25px;
	padding: 5px 5px 5px 10px;
	background: rgba(255, 255, 255, 0.8);
	width: 90px;
	height: 50px;
	border-radius: 5px;
	line-height: 50px;
	font-size: 16px;
	text-align: right;
}
.leave a{
	background:url(/static/images/arrow_w.png);
	display:inline-block;
	width:50px;
	height:50px;
	vertical-align: middle;
	margin-left: 5px;
}

.room-bg{
	top:50%;
	left:50%;
	width:1230px;
	height:520px;
	margin-top:-290px;
	margin-left:-615px;
	position:absolute;
	background:rgba(255,255,255,0.8);
	border-radius:10px;
	-webkit-box-shadow:3px 3px 8px #a9a9a9;
	-moz-box-shadow:3px 3px 8px #a9a9a9;
	box-shadow:3px 3px 8px #a9a9a9;
}

.room{
	margin:0px;
	padding:0px;
}

.room-title{
	width:100%;
	height:35px;
	text-align:center;
	background:#3e7880;
	color:#fff;

}
.room-title h3{
	margin:0px;
	padding:0px;
}

.room-wall{
	margin:0px;
	padding:0px;
	background:#fff;
	width:100%;
	height:115px;
}

.room-door{
	float:left;
	width:50px;
	height:115px;
}
.room-door a{
	display:block;
	position:absolute;
	bottom:0px;
	right:10px;
	width:30px;
	height:50px;
	background:url(/static/images/door.jpg);
}

.room-board{
	float:left;
	width:130px;
	height:115px;
	line-height:15px;
	padding:5px;
}


#roomsite{
	top:50%;
	left:50%;
	width:990px;
	height:520px;
	margin-top:-270px;
	margin-left:-495px;
	position:absolute;
}

.roomsite-title{
	position:absolute;
	border:1px solid #99c2c7;
	background:#e0f7fa;
	width:300px;
	height:40px;
	text-align:center;
	font-size:18px;
	line-height:40px;
	left:50%;
	margin-left:-150px;
	-webkit-box-shadow:5px 5px 0px #95c2c7;
	-moz-box-shadow:5px 5px 0px #95c2c7;
	box-shadow:5px 5px 0px #95c2c7;
	z-index:200;
}

.roomsite-content{
	position:absolute;
	border:1px solid #99c2c7;
	background:#fff;
	-webkit-box-shadow:5px 5px 0px #95c2c7;
	-moz-box-shadow:5px 5px 0px #95c2c7;
	box-shadow:5px 5px 0px #95c2c7;
	margin-top:20px;
	height:450px;
	width:100%;
	z-index:100;
}

.roomsite-block{
	height:100%;
	width:100%;

}

.roomsite-block-nav{
	width:200px;
	margin:0;
	height:390px;
	float:left;
	background:#faf9f4;
	padding:40px 20px 20px 20px;
	overflow:auto;
	-webkit-scrollbar-track-piece:;
	#viewport ::-webkit-scrollbar
}
.roomsite-block-nav li{
	font-size:16px;
	border-bottom:1px dashed #000;
	padding:0px 0px 5px 20px;
	margin-bottom:15px;
}

.teach-course , .teach-course li{
	font-size:14px !important ; 
	line-height:16px;
	height:18px;
}

.roomsite-block-container{
	height:390px;
	float:left;
	width:700px;
	padding:0px 20px 20px 20px;
	overflow:auto;
	margin-top:40px;
}

.roomsite-block-content{
	text-indent:2em;
}
