@CHARSET "UTF-8";
body{
	margin:0;
	padding:0;
	font-size:12px;
	overflow:hidden;
	font-family:微软雅黑;
	background:url(/static/images/bg.png);
}
img {
	border:none;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;          
	margin:0;
	
}
.shadow{
	width:100%;
	height:100%;
	background:#000;
	z-index:800;
	position:absolute;
}

.user-infor-box{
    position: fixed;
    z-index: 8000;
    background: #fff;
    border-radius: 5px;
    padding:5px;
    border: 1px solid #e0e0e0;
}

#footer{
	position:fixed;
	bottom:5px;
	width:200px;
	text-align:left;
	overflow:hidden;
	margin-left:3px;
}

#top{
	left:0;
	top:0;
	position:fixed;
	height: 40px;
	width: 100%;
	color: #fff;
	background: #a7c5c9;
	-webkit-box-shadow:0px 0px 8px #0b2a2e;
	-moz-box-shadow:0px 0px 8px #0b2a2e;
	box-shadow:0px 0px 8px #0b2a2e;
	z-index:500;
}
#top a {
	color: #fff;
}
#top a{
	opacity:0.9;
}
#top a:hover{
	opacity:1;
}
#top-logo{
	color: #fff;
	display:inline-block;
	line-height: 40px;
	text-align:center;
	width: 150px;
	background: #3e7880;
	font-size: 18px;
	height: 40px;	
	z-index: 9999;
}
#top-logo a{
	font-weight: 600;
}
#top-nav{
	display:inline-block;
	font-size: 14px;
	margin-left:20px;
}
#top-nav ul{
	
}
#top-nav li{
	float:left;
	padding:0px 10px 0px 10px;
}

#maps{
	margin-top:40px;
	overflow:hidden;
}

#map{
	position:absolute;
	margin-top:3px;
	overflow:hidden;
}

#right{
	border-left:1px #959595 solid;
	position: absolute;
	right: 0px;
	width: 250px;
	background: white;
	height: 100%;
	margin-top:-2px;
	-webkit-box-shadow:-1px 5px 8px #4f4f4f;
	-moz-box-shadow:-1px 5px 8px #4f4f4f;
	box-shadow:-1px 5px 8px #4f4f4f;
	z-index:200;
}
#right ul{
	margin-top:10px;
}

#right-descr{
	background: #1f5f68;
	height: 100px;
	color:white ;
	padding-left:20px;
	padding-top:20px;
	margin-bottom:20px;
	z-index:100;
}

#right-descr-title{
	font-size:20px;
	margin:3px;
	font-weight:bold;
}
#right-message{
	overflow:auto;
}
#right-message-list{
	padding:0px 10px 0px 20px;
	bottom: 25px;
	width: 210px;
	position: absolute;
	overflow: hidden;
}
#right-chat-msg-list{
	overflow: auto;
}
#right-message-nav ul li{
	float:left;
	width:48%;
	font-size: 18px;
}

.block-msg{
	display: block;
}

#right-announce{
	padding:0 10px;
}

/* Let's get this party started */
.beautiScoll::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
.beautiScoll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.beautiScoll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(130,130,130,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.beautiScoll::-webkit-scrollbar-thumb:window-inactive {
background: rgba(130,130,130,0.4); 
}

#msg-tips{
	position: absolute;
	top:5px;
	left:310px;
	background: #C3412F;
    color: white;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    -webkit-text-size-adjust: none;
    padding: 0 5px;
    height: 16px;
    line-height: 16px;
    border-radius: 16px;
    text-indent: 0;
    text-align: center;
    text-decoration: none;
    z-index: 8500;
}

.avatar-small{
	width:30px;
	height:30px;
	border:0px;
}

.avatar-middle{
	width:50px;
	height:50px;
	border:0px;
}

.avatar-big{
     width:150px;
     height: 150px;       
     border:0px;
}

