@CHARSET "UTF-8";
body{
	overflow:auto;
}
#main{
	width: 80%;
	margin:0 auto;
	margin-top: 60px;
	margin-bottom: 40px;
	border-radius: 10px;
	border:1px solid #eee;
	background:rgba(255,255,255,0.8);
	padding:20px;
	-webkit-box-shadow:0px 0px 10px #4f4f4f;
	-moz-box-shadow:0px 0px 10px #4f4f4f;
	box-shadow:0px 0px 10px #4f4f4f;
}

#friends-list{
    float:left;
    width:20%;
}

#msg-list{
    float:left;
    width:75%;
}